.inputAttributes {
	background: transparent;
    border: 0px;
    width: 50px;
    text-align: center;
}

.inputDetails {
	background: transparent;
    border: 0px;
    width: 150px;
    text-align: left;
}

.attributesBorder {
	border: 2px solid #000;
	border-radius: 15px;
	padding: 5px;
}

.attributesName {
    font-size: 1rem;
    margin-left: 10px;
    width: 100px;
    font-family: system-ui;
}

.attributesBonus {
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin-left: 10px;
    border:2px solid #000;
    border-radius:5px;
    font-family: system-ui;
}

.levelBonus {
    text-align: center;
    font-size: 1rem;
    border:2px solid #000;
    border-radius:5px;
    padding: 5px;
    font-family: system-ui;
}

.shadow-button {
	  background-color: transparent;
	  border-radius: 6px;
	  border-color: #E23434;
	  border: 1.5px solid;
	  color: #E23434;
	  padding: 8px 25px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 0.7rem;
	  margin: 4px 2px;
	  font-family: system-ui;
	  font-weight: 400;
	  text-transform: uppercase;
}

.textareaBackgrounds {
	border: 2px solid #5D5751;
    padding: 10px;
    border-radius: 12px;
}

.borderBox {
	border:1px solid #000;
	margin: 10px;
	padding: 5px;
	border-radius: 12px;
	font-size:0.8rem;
}

.featsBox {
	border:1px solid #000;
	padding: 5px;
	border-radius: 12px;
	margin: 10px;
	font-size:0.8rem;
}

.collumSeperator {
	padding: 10px;
}

.h1-overwrite {
    font-size: 2.5em;
    color: #E23434;
    font-family: system-ui;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


.h2-overwrite {
    font-size: 1.25em;
    color: #5D5751;
    font-family: fantasy;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    text-decoration: underline;
}

.h3-overwrite {
	font-size:1rem;
	font-family: system-ui;
    font-weight: 400;
    color: #5D5751;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.h4-overwrite {
	color:#E23434;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 10px;
}

.h5-overwrite {
	font-size:0.7em;
	color:#5D5751;
}

.lightbrownfont {
	font-family: system-ui;
	color:#C1AB96;
}

.lightgreyfont {
	color:#E0E0E0;
	text-align: left;
    font-family: system-ui;
    font-size: 0.85rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.marginauto {
	margin: auto;
}

.center1200 {
	margin: auto;
	width: 1200px;
}

.center1000 {
	margin: auto;
	width: 1000px;
}

.content1200 {
	width: 1200px;
}

.content1000 {
	width: 1000px;
}

.circleball {
  display: block;
  background: black;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: 0;
  margin-right:5px;
}

/*Paddings*/

.padding-row {
	padding-top: 120px;
}

.padding-row-half {
	padding-top: 60px;
}

.padding-row-quater {
	padding-top: 30px;
}

.padding-bottom-quater {
	padding-bottom: 30px;
}

.padding-row-10 {
	padding-top: 10px;
}